.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  width: 35%;
  min-width: 180px;
  margin: 0 auto;
}
.img img {
  width: 100%;
  aspect-ratio: 1/1;
}
.links {
  flex: 1;
  margin: 0;
}
.links h2 {
  padding-bottom: 10px;
}
.links h2 span {
  text-transform: lowercase;
}
.links li:first-child a {
  display: block;
  width: fit-content;
  color: var(--link-blue-color);
  margin-bottom: 20px;
}
.links li:first-child a:hover {
  color: var(--orange);
}
.links li:not(:first-of-type) {
  display: inline-block;
  padding-right: 10px;
  margin: 0;
}
.links li:not(:first-of-type) a {
  margin: 0 0 10px;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 500;
}
.links li:nth-child(3) a {
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
}
.links li:nth-child(3) a:hover {
  background-color: rgb(212, 212, 212);
}
@media (min-width: 768px) {
  .img {
      margin-right: 30px;
  }
  .content {
    flex-direction: row;
  }
}