.search {
  display: flex;
  flex: 1;
  order: 1;
  background-color: var(--light-orange);
  align-items: center;
  height: 32px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin: 0 12px;
}

.search input {
  outline: none;
  border: none;
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  flex: 1;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.search:has(input:focus) {
  box-shadow: 0 0 1px 3px var(--orange);
}
.search svg {
  display: inline-block;
  color: black;
  width: 50px;
  font-size: 1rem;
  padding: 0 10px;
  height: 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all var(--transition-duration);
  -webkit-transition: all var(--transition-duration);
  -moz-transition: all var(--transition-duration);
  -ms-transition: all var(--transition-duration);
  -o-transition: all var(--transition-duration);
  cursor: pointer;
}
.search svg:hover {
  background-color: var(--orange);
}
@media (min-width: 501px) {
  .search {
    order: 0;
    height: 40px;
    margin: 0;
  }
}
