.btn {
  display: block;
  background-color: var(--light-orange);
  color: black;
  margin: 10px 0;
  padding: 8px 0;
  font-size: .9rem;
  font-weight: bold;
  border: 1px solid var(--orange);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}