.checkout {
  padding: 20px 15px;
  height: fit-content;
  min-width: 250px;
}
.checkout > button,
.checkout a {
  font-weight: normal;
  width: 100%;
  margin: 20px 0 10px;
  text-align: center;
}
.disable {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  cursor: not-allowed;
}
.checkout button:hover.disable {
  background-color: rgb(192, 192, 192) !important;
}
.log {
  margin: 20px 0 -10px;
  text-transform: capitalize;
  font-weight: 500;
}
@media (min-width: 501px) {
  .checkout > button,
  .checkout a {
    max-width: 250px;
  }
}
@media (min-width: 768px) {
  .checkout > button,
  .checkout a {
    margin: 20px auto 10px;
  }
}
